.l_taskList {

  .taskContents {
    margin-bottom: 1.5rem;

    &__priorityText {
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.5rem;
      font-size: 1.25em;
      margin-bottom: 0.5em;
      font-weight: bold;
    }

    &__taskContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
